<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script>

        if(localStorage.getItem('tokenManagerAPI')) {
            const token = localStorage.getItem('tokenManagerAPI');
            console.log(token)
            fetch('/', {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(()=>console.log(1))
        }

    </script>
</head>
<body>
<a href="/form">Форма</a>
<a href="/login">Авторизация</a>
<hr>
<h2>Список пользователей</h2>
{{>user}}
<h2>Список задач</h2>
{{>task}}
</body>
<script src="js/script.js"></script>
</html>


