<!DOCTYPE html>
<html>
<head>
    <title>Пользователи</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<a href="/form">Форма</a>
<hr>
<h1>Список пользователей</h1>
{{>users}}
</body>
<script src="js/script.js"></script>
</html>


