{{#tasks}}
    <div class="item tasks">
        <div class="task" data-id={{_id}}>
            Имя: <span class="title">{{title}}</span>
            ---- <button class="del">Удалить</button>
        </div>
    </div>
{{/tasks}}
<hr>
