{{#users}}
    <div class="item users">
        <div class="user" data-id={{_id}}>
            Имя: <span class="name">{{name}}</span> |
            Возраст: <span class="age">{{age}}</span> |
            Email: <span class="email">{{email}}</span>
            ---- <button class="del">Удалить</button>
        </div>
    </div>
{{/users}}
<hr>
