{{#arr}}
    <div class="users">
        <div class="user" data-id={{_id}}>
            Имя: <span class="name">{{name}}</span> |
            Возраст: <span class="age">{{age}}</span>
            ---- <button class="del">Удалить</button>
        </div>
    </div>
{{/arr}}
<hr>
